#section_187_15{
background-color:transparent ;
background-image:url('https:\/\/app.stagingmockup.agency\/public\/storage\/all_files\/2024\/Aug\/about-us_1073.jpeg');
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_189_15{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_194_15{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:50px !important;
padding-left:200px !important;
}
#section_193_15{
background-color:transparent ;
background-image:url('https:\/\/app.stagingmockup.agency\/public\/storage\/all_files\/2024\/Aug\/ctabgimage_1067.png');
background-size:cover !important;
background-position:center !important;
background-repeat:no-repeat !important;
padding-top:150px !important;
padding-right:200px !important;
padding-bottom:150px !important;
padding-left:200px !important;
}
#section_192_15{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
@media (max-width: 767px) {
#section_187_15{
padding-top:150px !important;
padding-right:20px !important;
padding-bottom:150px !important;
padding-left:20px !important;
}
#section_189_15{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
}
#section_192_15{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
}
#section_195_15{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
}
#section_194_15{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
}
#section_193_15{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
}
#section_191_15{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
}
#section_190_15{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
}}
#section_191_15{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_194_widget_397{
background-color:transparent ;
padding-right:400px !important;
padding-left:400px !important;
}
#section_194_widget_397 img{
width:300px !important;
}
#section_195_widget_452{
background-color:transparent ;
margin-bottom:50px !important;
}
#section_190_15{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}