#section_201_16{
background-color:transparent ;
padding-top:150px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_201_widget_416{
background-color:transparent ;
padding-bottom:40px !important;
}
#section_201_widget_417{
background-color:transparent ;
padding-bottom:30px !important;
}
#section_202_16{
background-color:transparent ;
background-image:url('https:\/\/app.stagingmockup.agency\/public\/storage\/all_files\/2024\/Aug\/ctabgimage_1067.png');
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_198_16{
background-color:transparent ;
background-image:url('https:\/\/app.stagingmockup.agency\/public\/storage\/all_files\/2024\/Aug\/homebanner_1080.png');
background-size:cover !important;
background-position:center !important;
background-repeat:no-repeat !important;
padding-top:150px !important;
padding-right:200px !important;
padding-bottom:150px !important;
padding-left:200px !important;
}
#section_199_widget_411 h6{
color:#6570be;
}
@media (max-width: 767px) {
#section_198_16{
padding-top:150px !important;
padding-right:20px !important;
padding-bottom:150px !important;
padding-left:20px !important;
}
#section_199_widget_410{
margin-bottom:30px !important;
}
#section_199_16{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
}
#section_201_16{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
}
#section_202_16{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
}
#section_210_16{
padding-top:50px !important;
padding-right:20px !important;
padding-bottom:50px !important;
padding-left:20px !important;
margin-bottom:-10px !important;
margin-left:0px !important;
}
#section_211_16{
padding-top:250px !important;
padding-right:20px !important;
padding-bottom:100px !important;
padding-left:20px !important;
}
#section_212_16{
margin-top:-100px !important;
}}
#section_198_widget_409{
background-color:transparent ;
padding-top:30px !important;
}
#section_199_widget_415{
background-color:transparent ;
padding-top:30px !important;
}
#section_211_widget_444{
background-color:transparent ;
margin-top:200px !important;
}
#section_211_widget_440{
background-color:transparent ;
margin-top:200px !important;
}
#section_211_widget_442{
background-color:transparent ;
margin-top:200px !important;
}
#section_210_widget_449{
background-color:transparent ;
padding-right:100px !important;
padding-left:100px !important;
}
#section_210_widget_449 img{
width:350px !important;
}
#section_210_16{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
margin-bottom:-350px !important;
}
#section_211_16{
background-color:transparent ;
background-image:url('https:\/\/app.stagingmockup.agency\/public\/storage\/all_files\/2024\/Aug\/bgimageoffullsec_1083.png');
background-size:cover !important;
background-position:center !important;
background-repeat:no-repeat !important;
padding-top:350px !important;
padding-right:200px !important;
padding-bottom:200px !important;
padding-left:200px !important;
}
#section_212_16{
background-color:transparent ;
margin-top:-100px !important;
}
#section_211_widget_448{
background-color:transparent ;
margin-bottom:50px !important;
}
#section_211_widget_447{
background-color:transparent ;
margin-bottom:50px !important;
}
#section_211_widget_446{
background-color:transparent ;
margin-bottom:50px !important;
}
#section_202_widget_453{
background-color:transparent ;
margin-top:30px !important;
}