#section_170_widget_324 h1{
color:#ffffff;
}
#section_170_widget_325 h1{
color:#ffffff;
}
#section_170_widget_324{
background-color:transparent ;
padding-bottom:20px !important;
}
#section_170_widget_324 h6{
color:#ffffff;
}
#section_170_14{
background-color:transparent ;
background-image:url('https:\/\/app.stagingmockup.agency\/public\/storage\/all_files\/2024\/Aug\/3ym6hzho5jd8_1064.jpg');
background-size:cover !important;
background-position:center !important;
background-repeat:no-repeat !important;
padding-top:150px !important;
padding-right:30px !important;
padding-bottom:149px !important;
padding-left:150px !important;
}
#section_171_widget_327 h6{
color:#555e94;
}
#section_171_widget_330 p{
color:#00001c;
}
#section_171_widget_329{
background-color:transparent ;
padding-bottom:20px !important;
}
#section_171_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_172_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_172_widget_331{
background-color:transparent ;
margin-bottom:20px !important;
}
#section_172_widget_331 h3{
color:#555e94;
}
#section_173_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_174_14{
background-color:transparent ;
background-image:url('https:\/\/app.stagingmockup.agency\/public\/storage\/all_files\/2024\/Aug\/ctabgimage_1067.png');
background-size:cover !important;
background-position:center !important;
background-repeat:no-repeat !important;
padding-top:150px !important;
padding-right:200px !important;
padding-bottom:150px !important;
padding-left:200px !important;
}
#section_174_widget_338{
background-color:transparent ;
margin-bottom:20px !important;
}
#section_174_widget_338 h3{
color:rgb(132, 147, 208);
}
#section_175_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_176_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_176_widget_345{
background-color:transparent ;
margin-bottom:20px !important;
}
#section_176_widget_345 h2{
color:rgb(85, 94, 148);
}
#section_178_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_179_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_179_widget_351{
background-color:transparent ;
margin-bottom:30px !important;
}
#section_179_widget_350{
background-color:transparent ;
padding-bottom:20px !important;
}
#section_179_widget_350 h2{
color:rgb(85, 94, 148);
}
#section_179_widget_352{
background-color:transparent ;
padding-bottom:20px !important;
}
#section_179_widget_352 h2{
color:rgb(85, 94, 148);
}
#section_180_14{
background-color:transparent ;
background-image:url('https:\/\/app.stagingmockup.agency\/public\/storage\/all_files\/2024\/Aug\/ctabgimage_1067.png');
background-size:cover !important;
background-position:center !important;
background-repeat:no-repeat !important;
padding-top:150px !important;
padding-right:200px !important;
padding-bottom:150px !important;
padding-left:200px !important;
}
#section_181_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_183_widget_361 h2{
color:rgb(85, 94, 148);
}
#section_183_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_184_widget_364 h2{
color:#555e94;
}
#section_184_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_185_14{
background-color:transparent ;
padding-top:100px !important;
padding-right:200px !important;
padding-bottom:100px !important;
padding-left:200px !important;
}
#section_186_14{
background-color:transparent ;
background-image:url('https:\/\/app.stagingmockup.agency\/public\/storage\/all_files\/2024\/Aug\/ctabgimage_1067.png');
background-size:cover !important;
background-position:center !important;
background-repeat:no-repeat !important;
padding-top:150px !important;
padding-right:200px !important;
padding-bottom:150px !important;
padding-left:200px !important;
}
#section_186_widget_370 h3{
color:#555e94;
}
#section_180_widget_354{
background-color:transparent ;
margin-bottom:20px !important;
}
#section_180_widget_354 h3{
color:rgb(132, 147, 208);
}